name: Maven Publish
on:
  workflow_dispatch:
    inputs:
      package:
        description: 'Package to publish'
        required: false
        type: choice
        options:
          - files
          - i18n
          - paper
          - utils
jobs:
  build:
    env:
      REPOSITORY_USER: ${{ secrets.REPOSITORY_USER }}
      REPOSITORY_TOKEN: ${{ secrets.REPOSITORY_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Publish with Gradle to Repository
        run: ./gradlew :${{ github.event.inputs.package }}:publish